
footer{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-image: linear-gradient(89.57deg, rgba(0, 0, 0, 0.72) 2.28%, rgba(0, 0, 0, 0) 76.28%) ,url("images/footer-mainBG.png") , linear-gradient(89.84deg, #2D3134 53.99%, rgba(38, 43, 47, 0.58) 84.44%);
    max-width: 1920px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left, right top,left;
    min-height: 966px;
}
.footer-menu{
    min-height: 271px;
    background: rgba(33, 33, 33, 0.47);
    backdrop-filter: blur(16.5px);

    
}
.form-footer{
    min-height: 695px;
    
    
}
.form-footer .form{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 142px 0px;
    gap: 20px;
}
.form-footer h2{
    color: white;
    font-family: 'Montserrat';
    font-style:normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 121.9%;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.form-footer label{
    
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 155.4%;
    
}
.form-footer p{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 155.4%;
    color: rgba(255, 255, 255, 0.6);
    
}
.form-footer .local input{
    font-family: 'Montserrat';
    color: rgb(252, 252, 252);
    background-color: #ffffff00;
    border: 1px solid rgba(45, 49, 52, 0);
    border-radius: 5px;
    margin-left: 8px;
    transition: 0.5s ease-in-out;
}
.form-footer input:focus{
    outline: none;
    color: #D38B13;
    
    
}
.form-footer .rectangle{
    width:333px;
    height: 0px;
    border: 1px solid #ffffff;
    
    background-color: #ffffff;
}
.local{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 0px;
    
}
.submitB{
    margin-top: 30px;
    width: 135px;
    height: 46px;
    background-color: #D38B13;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 27px;
    gap: 10px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 168.4%;
    border: none;
    transition: 0.250s ease;
}
.footer-main-menu .input-castom{
    background: url("images/footer-search.png") no-repeat;
    background-size: 15px;
    background-position:390px;
    
}

.footer-main-menu input{
   
    background-color: #2d313400;
    outline: none;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    min-width: 420px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #DADADA;
    transition: 0.5s ease-in-out;
    
}
.footer-main-menu input:focus{

    outline: none;
    color: #D38B13;
}
.footer-main-menu *{
    
    margin: 15px 0px;
    
}

.footer-menu .container-footer{
    width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 40px;
   
   
}
.footer-cont-menu .contact{
   
    margin: 25px;
}
.contact-menu-list{
    display: flex;
    gap: 60px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    transition: 0.250s ease;
}
.contact .menu_item{
    position: relative;
}
.contact .menu_item::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #D38B13;
    height: 1px;
    width: 0%;
    transition: 0.2s ease;
    transform: translateX(-50%);
}
.contact .menu_item:hover::before{
    content: '';
    position: absolute;
    bottom: 0;
    background-color: #D38B13;
    height: 1px;
    width: 100%;
}
.contact .menu_item:hover{
    color: #D38B13;
    
}

.footer-cont-menu .callback{
    
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    
}
.callback .social{
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 120px;
    
    justify-content: space-between;
    align-items: center;
}
.callback .number{
    display: inline-flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: white;
}
.callback .number button{
    background-color: white;
    border: 1px solid rgba(17, 17, 17, 0);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    height: 46px;
    width: 175px;
    transition: 0.250s ease-in-out;
}
.callback .number button:hover{
    background-color: #D38B13;
    color: white;
}
.footer-menu .container .Rectangle{
    border: 1px solid #777E89;
}
.footer-menu .container .container-copyr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #777E89;
}