.section_6{
    /* max-width: 1920px; */
    height: 616px;
    background: url("images/Group.png") no-repeat right ;
    background-position: center;
}
.section_6 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.grid_s6{
    display: grid;
    grid-template-columns:repeat(40,20px) ;
    grid-template-rows:repeat(21,20px) ;
    
}
.p0_s6{
    
    font-size: 36px;
    font-weight: bold;
    grid-column:7/13 ;
    grid-row: 1/2;
    z-index: 1;
}
.p1_s6{
    grid-column:7/33 ;
    grid-row:5/9;
    font-size: 16px;
    font-weight: 600;
    z-index: 1;
}
.p2_s6{
    grid-column:7/33 ;
    grid-row: 11/20;
    font-size: 16px;
    z-index: 1;
}
.button_div_s6{
    grid-column:7/15 ;
    grid-row: 20/21;
}
.button_s6{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #AD8442;
    height: 30px;
}
.button_s6:hover {
    text-decoration: underline;
}
/* .img_div_s6{
    
    background-size: cover;
    width: 1120px;
    height: 616px; 
    position:absolute;
    right: -10%;
    z-index: 0;
} */